/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
  
   *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }


/***   BASE STYLES  ***/

  body {
    background: #F7EDE2;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: #A61123;
    max-width: 100%;
  }

  figure {
    margin: 0;
  }

  h1 {
    color: #A61123;
    font-family: 'courier prime', monospace;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-left: .25em;
  }

  h2 {
    color: #656D2F;
    padding: 1em 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  h3 {
    color: #C8AD4E;
    text-transform: uppercase;
    padding: 1.5em 0;
  }

  h4,
  p {
    font-family: 'courier prime', monospace;
  }

  a {
    text-decoration: none;
    color: #A61123;
  }

  a:hover {
    cursor: pointer;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .btn {
    background-color: #656D2F;
    color: #F7EDE2;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: .75em;
    margin: 1.5em;
    padding: .75em;
  }
   .btn a {
     text-decoration: none;
     color: #F7EDE2;
   }
   .btn:hover {
     cursor: pointer;
   }


/** HEADER **/

.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title p {
  margin: 0 .25em;
}

h1 span {
  font-size: .60em;
  text-transform: uppercase;
  color: #C8AD4E;
}

.header-img {
  max-width: 100%;
  height: auto;
}

/*** NAVIGATION ***/


.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: #A61123;
  text-align: center;
  padding: .75em 2.75em 0 0;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}

.topnav i {
  font-size: 1.75em;
  color: #C8AD4E;
}

.topnav a:hover {
  color: #A61123;
}

.topnav a.active {
  border: .5em solid #C8AD4E;
}

.topnav .icon {
  display: none;
}

.topnav a.icon {
  padding: 1em .5em .5em .5em;
}


/** MAIN AREA **/


/** WATCH ME SEE ME **/

.watchme-wrapper,
.videos-wrapper {
  margin: 1em 0;
}

h2 span {
  color: #A61123;
  font-family: "courier prime", monospace;
}

.shows,
.videos {
  display: flex;
  flex-flow: column;
  margin: 1em 1em 2em; 
}

.show-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  margin: .5em;
  padding: .5em;
  border-radius: 10px;
  border: 1px solid #C8AD4E;
}

.show-item h3 {
  padding: 1em;
  text-align: center;
}

.show-item p {
  padding: 1em;
  text-align: center;
}

.tix-btn {
  font-size: .75em;
} 

/** VIDEOS **/

.videos {
  margin-top: 5em;
  padding-top: 3em;
  border-top: 3px solid #C8AD4E;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px;
}

.videos-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  padding: 1.5em;
  margin: 1em;
  border-radius: 10px;
  text-align: justify;
}

.videos-item p {
  padding: 1em;
}

/** READ ME **/

.readme-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  padding: 2em;
}

.readme h3 {
  padding-bottom: .3em;
}

.readme a {
  font-family: 'courier prime', monospace;
  text-decoration: underline;
}

.readme p,
.knowme p {
  text-align: justify;
  padding-bottom: 1.5em;
}


/** KNOW ME **/

.knowme-wrapper {
  display: flex;
  flex-flow: column;
  padding: 2em;
}

/* TIMELIME HEADING */

.cd-horizontal-timeline h3 {
  margin-left: 5em;
}

/** FOOTER REACH ME **/

footer,
.reachme {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  padding: 1.5em;
}

.reachme h3 {
  padding: .5em 0;
}

.social-icons {
  margin: 1em 0;
  display: flex;
}

.social-icons i {
  color: #656d2f;
  font-size: 1.5em;
  padding: 0 .25em;
}

.reachme-img {
  width: 100%;
  height: auto;
}



/******** REELS PAGE STYLES ********/


.voice-reels,
.video-reels {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1em 0;
  margin: 1em;
}

.voice-reels-wrapper,
.video-reels-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 2em 0;
}

.voice-reels-item,
.video-reels-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 1.2em;
  padding: 1.5em;
}

.voice-reels-item p {
  margin-bottom: 2em;
}

audio {
  width: 80%;
}



/**** REACH ME ****/

#reachme-reels,
.video-reels {
  border-top: 3px solid #c8ad4e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires. FOR MENU
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) { 
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}

@media all and (min-width: 769px) {

  .topnav a {
    padding: 1em .75em 0;
  }
}

/******** TABLET AND DESKTOP STYLES *********/

@media all and (min-width: 768px) {

  .shows,
  .videos-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2em 0;
  } 

  .show-item,
  .videos-item {
    align-items: center;
    width: 45%;
  }

  .reachme h2,
  .readme h2 {
    text-align: end;
  }
  
  .knowme h2 {
    text-align: left;
  }

  .readme,
  .knowme,
  .reachme {
    padding: 6em;
  }

  .readme h3,
  .readme p {
    padding-right: 10em;
  }

  .knowme p {
    padding-left: 10em;
  }



/***** REELS TABLET STYLES *****/

  .voice-reels-wrapper,
  .video-reels-wrapper {
    flex-flow: row wrap;
    justify-content: center;
  }

  .voice-reels-item,
  .video-reels-item {
    width: 45%;
  }

}


@media all and (min-width: 1200px) {


  .topnav a {
    padding: 1em 1.5em 0;
  }

  .shows {
    margin: 2em 8em;
  }

  .show-item,
  .videos-item {
    align-items: center;
    width: 35%;
    margin: 2em;
  }

  .readme,
  .knowme,
  .reachme {
    padding: 8em 17em;
  }

  .readme h2,
  .knowme h2,
  .reachme h2 {
    padding-bottom: 3em;
  }

  .readme h3,
  .readme p {
    padding-right: 20em;
  }

  .knowme p {
    padding-left: 20em;
  }

  .reachme-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


/***** REELS PAGE DESKTOP STYLES *****/

  .voice-reels-wrapper {
    flex-flow: row;
  }


  .video-reels-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

